@font-face {
  font-family: "iconfont"; /* Project id 3236559 */
  src: url('iconfont.woff2?t=1650042002928') format('woff2'),
       url('iconfont.woff?t=1650042002928') format('woff'),
       url('iconfont.ttf?t=1650042002928') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
  content: "\e75d";
}

.icon-toy:before {
  content: "\e76e";
}

.icon-becomeagoldsupplier:before {
  content: "\e7d5";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-browse:before {
  content: "\e745";
}

.icon-viewlarger:before {
  content: "\e76c";
}

.icon-seleted:before {
  content: "\e763";
}

.icon-upload:before {
  content: "\e76b";
}

.icon-invoice:before {
  content: "\e772";
}

.icon-map:before {
  content: "\e758";
}

.icon-shuaxin:before {
  content: "\e61b";
}

.icon-add-select:before {
  content: "\e7b0";
}

.icon-sami-select:before {
  content: "\e7b1";
}

.icon-shouqi:before {
  content: "\e7d3";
}

.icon-zhankai:before {
  content: "\e7d4";
}

.icon-certified-supplier:before {
  content: "\e747";
}

.icon-conditions:before {
  content: "\e748";
}

.icon-connections:before {
  content: "\e74a";
}

.icon-suggest:before {
  content: "\e767";
}

.icon-unlock:before {
  content: "\e773";
}

.icon-tanhao:before {
  content: "\e8bd";
}

.icon-rili:before {
  content: "\e8b4";
}

.icon-tuipiao:before {
  content: "\e8bc";
}

.icon-mendianshenhe:before {
  content: "\e62a";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-bangzhu:before {
  content: "\e8ad";
}

.icon-dingwei:before {
  content: "\e8ae";
}

.icon-ditu:before {
  content: "\e8af";
}

.icon-dingdan:before {
  content: "\e8b0";
}

.icon-fuzhi:before {
  content: "\e8b1";
}

.icon-huiyuan:before {
  content: "\e8b2";
}

.icon-kabao:before {
  content: "\e8b3";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-shuju:before {
  content: "\e8ba";
}

.icon-sousuo:before {
  content: "\e8bb";
}

.icon-xiaoxizhongxin:before {
  content: "\e8be";
}

.icon-youhuiquan:before {
  content: "\e8c0";
}

.icon-Customermanagement:before {
  content: "\e74b";
}

.icon-integral:before {
  content: "\e754";
}

.icon-Newuserzone:before {
  content: "\e759";
}

.icon-yibiaopan:before {
  content: "\e669";
}

