@import url('./iconfont/iconfont.css');
@import "./store.scss";
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
:root{
    --el-color-primary: #1a66ff;
    --el-color-primary-light-3: #3377ff;
    --el-color-primary-dark-2: #1861f2;
    --el-color-warning: #ff8c19;
    --el-color-success: #13ce66;
    --el-color-danger: #ff5151;
    --el-color-info: #9296bb;
    --el-alert-bg-color: #f4f4f5;
}
body{
    background: #f8fafc;
    color: #303133;
}
*{
    box-sizing: border-box;
}
a{
    color: var(--el-color-primary);
    text-decoration: none;
}
p{
    margin: 0;
}
.h100{
    height: 100%;
}
.scrollbar{
    overflow-y: auto;
}
.scrollbar::-webkit-scrollbar-track{
    background: #e6effb;
}
.scrollbar::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: var(--el-color-primary);
}
#app{
    height: 100%;
    display: flex;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.rotate .iconfont{
    animation: rotate .8s linear infinite;
}
.empty{
    padding: 20px 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #A8ABB2;
}
.main_side{
    width: 180px;
    border-right: 1px solid #e6effb;
    display: flex;
    flex-flow: column;
    background: #fff;
    .main_side_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        border-bottom: 1px solid #e6effb;
        .el-button.is-circle{
            border-radius: 8px;
        }
        h3{
            font-size: 14px;
            margin: 0;
        }
    }
    .main_side_bottom{
        padding: 15px;
        flex: 1;
    }
    &.isCollapse{
        width: 80px;
        h2{
            display: none;
        }
        .main_side_menu{
            display: flex;
            flex-flow: column;
            align-items: center;
        }
        .main_body{
            li{
                padding: 0 !important;
                justify-content: center;
                height: 55px;
                width: 55px;
                border-radius: 17px;
                .iconfont{
                    font-size: 25px;
                    margin: 0;
                }
                span{
                    display: none;
                }
            }
        }
    }
    .main_header{
        h2{
            font-size: 17px;
        }
    }
    .main_body{
        .iconfont{
            margin-right: 5px;
        }
    }
    .main_side_menu{
        border: none;
        &.space-between li{
            justify-content: space-between;
        }
        li{
            border-radius: 8px;
            height: 40px;
            margin-bottom: 5px;
            color: #606266;
            overflow: hidden;
            &.is-active{
                background: #ecf5ff;
                color: var(--el-color-primary);
                &:hover{
                    background: #ecf5ff;
                }
            }
            .main_side_menu_l{
                display: flex;
                align-items: center;
                width: 100%;
                span{
                    margin-left: 5px;
                    flex: 1;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }
            }
            .main_side_menu_r{
                display: flex;
                .iconfont{
                    font-size: 13px;
                    margin-left: 5px;
                    display: none;
                }
            }
            &:hover{
                background: #f8f8f8;
                .main_side_menu_r{
                    .iconfont{
                        display: block;
                    }
                }
            }
        }
    }
}
.main_header{
    height: 55px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid #e6effb;
    .main_header_left{
        .open{
            cursor: pointer;
        }
        .iconfont{
            font-size: 22px;
        }
    }
}
.main_body{
    padding: 20px 15px;
}
.main_con{
    display: flex;
    flex: 1;
    flex-flow: column;
    .main_body{
        flex: 1;
        display: flex;
        padding: 0;
    }
}
.main_footer{
    height: 45px;
    align-items: center;
    display: flex;
    padding: 0 20px;
    background: #fff;
    border-top: 1px solid #e6effb;
    font-size: 12px;
    justify-content: space-between;
    color: #606266;
    .main_footer_r{
        .el-pager .number{
            margin: 0 4px 0 0;
        }
        .btn-next{
            margin-left: 0;
        }
        .el-pagination__jump{
            margin-left: 10px;
        }
        .el-pagination__editor.el-input{
            width: 35px;
            min-width: 35px;
        }
        .el-pagination__sizes,.el-pagination__total{
            margin-right: 10px;
        }
        .el-pagination--small .el-select .el-input{
            width: 80px;
        }
    }
}
.flex-column{
    flex-flow: column;
}
.overflow-y-auto{
    overflow-y: auto;
}
.filter{
    margin-bottom: 20px;
}
.m{
    padding: 20px !important;
    margin:15px;
    background: #fff;
}
.el-tree-virtual-list{
    height: auto !important;
}
.el-drawer__footer{
    padding: 15px 20px;
    border-top: 1px solid #e6effb;
}
.el-drawer__header{
    padding: 15px 20px;
    border-bottom: 1px solid #e6effb;
}
.el-drawer__close-btn{
    background: #eee;
    border-radius: 8px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.el-drawer__body {
    .el-form-item__label,.el-drawer__body input.el-input__inner::placeholder{
        font-size: 13px;
    }
    .el-form-item .el-form-item__content{
        display: flex;
        flex-flow: column;
        align-items: unset;
    }
}
.tip{
    font-size: 12px;
    width: 100%;
    color: #909399;
    line-height: 1.5;
    margin-top: 5px;
}
.multiple_img{
    display: flex;
    .el-upload{
        width: 100%;
    }
    .multiple_img_item{
        width: 100%;
        height: 100%;
        border: 1px dashed #ddd;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        .multiple_img_loading{
            position: absolute;
            display: flex;
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,.5);
            justify-content: center;
            align-items: center;
            padding: 0 5px;
            .el-progress{
                width: 100%;
            }
        }
        .multiple_img_action{
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,.8);
            justify-content: center;
            align-items: center;
            display: none;
            .iconfont{
                color: #fff;
                font-size: 14px;
                margin: 0 2px;
            }
        }
        &:hover .multiple_img_action{
            display: flex;
        }
        img{
            width: 100%;
            height: 100%;
        }
        .iconfont{
            font-size: 20px;
        }
    }
}
.avatar_upload{
    width: 58px;
    height: 58px;
    .el-upload{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.mr-2{
    margin-right: 5px;
}
.table-cell-avatar{
    display: flex;
    align-items: center;
    .el-image{
        margin-right: 10px;
    }
}
.el-message{
    min-width: auto;
    padding: 10px 15px;
    box-shadow: 0 5px 5px -5px #0000001a, 0 8px 10px -6px #0000001a;
}
.icons{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon_folder{
    background-image: url("../images/folder.png");
}
.qrcode{
    width: 220px;
    background: #f8fafc;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    img{
        width: 180px;
        height: 180px;
    }
}
.el-input__wrapper{
    box-shadow: none !important;
    background: var(--el-alert-bg-color) !important;
    &:hover{
        box-shadow: none !important;
        border: none !important;
    }
}
input{
    background: var(--el-alert-bg-color);
}
.el-input .el-input__count .el-input__count-inner{
    background: var(--el-alert-bg-color);
}
.el-select .el-select__tags .el-tag--info {
    background-color: #ebeef4;
}
.el-select{
    width: 100%;
}
.el-dialog{
    border-radius: 5px;
}
.el-input__suffix{
    display: flex;
    align-items: center;
}
.box-card{
    .box-card-item{
        width: 300px;
        height: 300px;
        display: flex;
        flex-flow: column;
        margin-right: 20px;
        .el-card__body{
            display: flex;
            flex-flow: column;
            height: 100%;
            padding: 0;
        }
        .card-header{
            display: flex;
            align-items: center;
            flex-flow: column;
            padding: var(--el-card-padding);
            span{
                font-size: 15px;
            }
        }
        .card-body{
            flex: 1;
            padding: 0 var(--el-card-padding);
            display: flex;
            justify-content: center;
            flex-flow: column;
            .card-body-item{
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                margin: 5px 0;
                span{
                    &:first-child{
                        width: 90px;
                        color: #909399;
                    }
                    &:last-child{
                        flex: 1;
                        display: flex;
                        justify-content: flex-end;
                        font-size: 13px;
                    }
                }
            }
        }
        .card-footer{
            display: flex;
            padding: 15px var(--el-card-padding);
            background: #f8fafc;
            div{
                flex: 1;
                padding: 0 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                cursor: pointer;
                color: #606266;
                &:hover{
                    color: var(--el-color-danger);
                }
            }
        }
    }
}
.el-input-group__append{
    box-shadow: none;
    background: var(--el-color-primary);
    color: #fff;
}
.level{
    position: relative;
    display: inline-block;
    margin-left: 11px;
    width: fit-content;
    padding: 0 6px 0 15px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #fafafa;
    background: #3370ff;
    border-radius: 0 8px 8px 0;
    white-space: nowrap;
    .level_icon{
        position: absolute;
        top: 0;
        bottom: 0;
        left: -11px;
        height: 18px;
        width: 22px;
        margin: auto;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    &.level1 {
        background: #fbae11;
        .level_icon{
            background-image: url("/images/vip-icon/lv1.png");
        }
    }
    &.level2 {
        background: #fa9b4b;
        .level_icon{
            background-image: url("/images/vip-icon/lv2.png");
        }
    }
    &.level3 {
        background: #a7805a;
        .level_icon{
            background-image: url("/images/vip-icon/lv3.png");
        }
    }
    &.level4 {
        background: #f48a6f;
        .level_icon{
            background-image: url("/images/vip-icon/lv4.png");
        }
    }
    &.level5 {
        background: #ef73b0;
        .level_icon{
            background-image: url("/images/vip-icon/lv5.png");
        }
    }
    &.level6 {
        background: #c16bdb;
        .level_icon{
            background-image: url("/images/vip-icon/lv6.png");
        }
    }
    &.level7 {
        background: #7f7edc;
        .level_icon{
            background-image: url("/images/vip-icon/lv7.png");
        }
    }
    &.level8 {
        background: #5f93c1;
        .level_icon{
            background-image: url("/images/vip-icon/lv8.png");
        }
    }
    &.level9 {
        background: #828f99;
        .level_icon{
            background-image: url("/images/vip-icon/lv9.png");
        }
    }
    &.level10 {
        background: #554c43;
        .level_icon{
            background-image: url("/images/vip-icon/lv10.png");
        }
    }
}
.table-text-right{
    display: flex;
    flex-flow: column;
}
.el-alert__title{
    font-size: 15px;
}
.main_body_footer{
    border-top: 1px solid #e6effb;
    padding-top: 20px;
}
.table{
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    tr{
        th{
            width: 120px;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            padding: 10px 20px;
        }
        td{
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
    }
}
.filter_main{
    padding: 20px 40px;
    background: #fff;
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid #e6effb;
    .filter_box{
        width: 300px;
        margin-right: 30px;
        .el-form-item{
            margin-bottom: 10px;
        }
    }
    .filter_top{
        display: flex;
    }
    .filter_bottom{
        margin-top: 10px;
    }
}
.el-table{
    overflow: visible;
}
